<main class="content-game">
<div class="content-game__header">
  <div class="content-game__header--left">
    <h1 class="heading-primary">{%GAME_TITLE%}</h1>
  </div>
  <div class="content-game__header--right">
    <h2 class="heading-secondary">Producent: <span class="heading-secondary--developer">{%PRODUCENT%}</span></h2>
    <h2 class="heading-secondary">Wydawca: <span class="heading-secondary--developer">{%PUBLISHER%}</span></h2>
  </div>
</div>
<div class="content-game__main">

  <div class="content-game__container">
    <h2 class="heading-secondary heading-secondary--game">Statystyka Steam</h2>
    <div class="content-game__graph">
    <table class="table">
      <tr class="table__header-row">
        <th class="table__header-item">Liczba graczy</th>
        <th class="table__header-item">Pomiar</th>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_0%}">{%PLAYERS_NR_0%}</td>
        <td class="table__item">{%PLAYERS_DATE_0%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_1%}">{%PLAYERS_NR_1%}</td>
        <td class="table__item">{%PLAYERS_DATE_1%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_2%}">{%PLAYERS_NR_2%}</td>
        <td class="table__item">{%PLAYERS_DATE_2%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_3%}">{%PLAYERS_NR_3%}</td>
        <td class="table__item">{%PLAYERS_DATE_3%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_4%}">{%PLAYERS_NR_4%}</td>
        <td class="table__item">{%PLAYERS_DATE_4%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_5%}">{%PLAYERS_NR_5%}</td>
        <td class="table__item">{%PLAYERS_DATE_5%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_6%}">{%PLAYERS_NR_6%}</td>
        <td class="table__item">{%PLAYERS_DATE_6%}</td>
      </tr>

      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_7%}">{%PLAYERS_NR_7%}</td>
        <td class="table__item">{%PLAYERS_DATE_7%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_8%}">{%PLAYERS_NR_8%}</td>
        <td class="table__item">{%PLAYERS_DATE_8%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_9%}">{%PLAYERS_NR_9%}</td>
        <td class="table__item">{%PLAYERS_DATE_9%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_10%}">{%PLAYERS_NR_10%}</td>
        <td class="table__item">{%PLAYERS_DATE_10%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_11%}">{%PLAYERS_NR_11%}</td>
        <td class="table__item">{%PLAYERS_DATE_11%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_12%}">{%PLAYERS_NR_12%}</td>
        <td class="table__item">{%PLAYERS_DATE_12%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_13%}">{%PLAYERS_NR_13%}</td>
        <td class="table__item">{%PLAYERS_DATE_13%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_14%}">{%PLAYERS_NR_14%}</td>
        <td class="table__item">{%PLAYERS_DATE_14%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_15%}">{%PLAYERS_NR_15%}</td>
        <td class="table__item">{%PLAYERS_DATE_15%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%PLAYERS_STYLE_16%}">{%PLAYERS_NR_16%}</td>
        <td class="table__item">{%PLAYERS_DATE_16%}</td>
      </tr>
    </table>
    <table class="table">
      <tr class="table__header-row">
        <th class="table__header-item">Bestsellers str. #poz</th>
        <th class="table__header-item">Pomiar</th>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_0%}">{%BPOS_NR_0%}</td>
        <td class="table__item">{%BPOS_TIME_0%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_1%}">{%BPOS_NR_1%}</td>
        <td class="table__item">{%BPOS_TIME_1%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_2%}">{%BPOS_NR_2%}</td>
        <td class="table__item">{%BPOS_TIME_2%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_3%}">{%BPOS_NR_3%}</td>
        <td class="table__item">{%BPOS_TIME_3%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_4%}">{%BPOS_NR_4%}</td>
        <td class="table__item">{%BPOS_TIME_4%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_5%}">{%BPOS_NR_5%}</td>
        <td class="table__item">{%BPOS_TIME_5%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_6%}">{%BPOS_NR_6%}</td>
        <td class="table__item">{%BPOS_TIME_6%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_7%}">{%BPOS_NR_7%}</td>
        <td class="table__item">{%BPOS_TIME_7%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_8%}">{%BPOS_NR_8%}</td>
        <td class="table__item">{%BPOS_TIME_8%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_9%}">{%BPOS_NR_9%}</td>
        <td class="table__item">{%BPOS_TIME_9%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_10%}">{%BPOS_NR_10%}</td>
        <td class="table__item">{%BPOS_TIME_10%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_11%}">{%BPOS_NR_11%}</td>
        <td class="table__item">{%BPOS_TIME_11%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_12%}">{%BPOS_NR_12%}</td>
        <td class="table__item">{%BPOS_TIME_12%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_13%}">{%BPOS_NR_13%}</td>
        <td class="table__item">{%BPOS_TIME_13%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_14%}">{%BPOS_NR_14%}</td>
        <td class="table__item">{%BPOS_TIME_14%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_15%}">{%BPOS_NR_15%}</td>
        <td class="table__item">{%BPOS_TIME_15%}</td>
      </tr>
      <tr class="table__row">
        <td class="table__item" style="{%BPOS_STYLE_16%}">{%BPOS_NR_16%}</td>
        <td class="table__item">{%BPOS_TIME_16%}</td>
      </tr>
    </table>
  </div>
  </div>
  <div class="content-game__ad">
    <h2 class="heading-secondary heading-secondary--ad">Prace Serwisowe - 19.12.2020</h2>
    <p class="paragraph">Ze względu na prace serwisowe, w sobotę 19.12.2020 po godz. 18:00 serwis steaming.pl będzie zamknięty na parę godzin.</p> 
    <p class="paragraph">Przepraszamy za utrudnienia.</p>
  </div>
</div>
<div class="content-game__bottom">
  <p class="content-game__steam-par">Powered by: <a class="footer__link" href="https://store.steampowered.com/">Steam</a></p>
</div>
</main>